@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Celtasmigoria';
  src: url(./assets/Celtasmigoria.ttf);
}

@font-face {
  font-family: 'Censcbk';
  src: url(./assets/CENSCBK.TTF);
}

body {
  overflow-x: hidden;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.celtic-font {
  font-family: Celtasmigoria;
}

.card-center-letter {
  font-size: 3.5rem;
  font-family: Celtasmigoria;
}

.card-center-letter--smaller {
  font-size: 2.8rem;
}

.card-center-letter--smallest {
  font-size: 2.5rem;
}

.card-letter-font {
  font-family: Censcbk, serif;
}

.button-loading-state {
  padding: 0.5rem !important
}

.loader {
  width: 2rem;
  height: 2rem;
  border: 5px dotted #FFF;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
